
#video-background { 
  position: absolute;
  bottom: 50%; 
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  width: auto; 
  height: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -1000; 
}

#app_container {
  width:100%;
  height: 100vh;
  text-align: center;
}

.get_coffee {
  position: absolute;
  left: 50%;
  top: 50%;
}